/*=========================CORPO GERAL DA PÁGINA============================*/
#index-body{
    border: 1px solid black;
}

#index-body h2{
    font-size: 250%;
    font-family: 'Arial Black', Helvetica, sans-serif;
}

#index-body p{
    font-size: 120%;
}

#index-body img{
    max-width: 100%;
}

/*=========================CABEÇALHO DA PÁGINA===========================*/
.main-header{
    border: 2px solid black;
    border-radius: 3px;
    margin: 0.5rem 1rem;

    display: inline-block;

    width: 97%;
}

.main-header h1{
    color: gray;
}

#main-header-logo{
    margin: 2px;

    border: 2px solid black;
    border-radius: 3px;

    width: 36%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

    display: inline;
    float: left;
}

#main-header-logo h1{
    text-align: center;
}

#main-header-logo p{
    padding: 0rem 0.5rem;
    text-align: left;
}

#main-header-buttons{
    max-width: 50%;

    display: inline-block;
    
    float: center;

    margin: 2rem 5rem;
}

#main-header-buttons ul li{
    display: inline;
    list-style: none;

    border: 3px solid orange;
    border-radius: 10px;

    margin: 0rem 1rem;

    font-size: 200%;
}

#main-header-buttons ul li a{
    text-decoration: none;
    display: inline-block;

    padding: 0 0.3rem;

    color: black;
}

/*========================================CORPO DA PÁGINA========================================*/
.justified-content{
    width: 32.5%;
    
    border: 1px solid black;
    border-radius: 5px;

    margin: 0rem 1rem;
    padding: 0rem 1rem;

    display: flex;

    text-align: justify;
}